@media only screen and (max-width: 768px) {
    .infoImage{
        width: 30px;
        height: 30px;
    }
    .info{
        font-size: 12px;
    }
    .banners{
        background-color: white;
        border-top: 1px solid #dedede;
        border-bottom: 1px solid #dedede;
    }
    .mainImage{
        border-radius: 0px;
        border: none;
    }
    .tripleBannerImage{
        width: 40px;
    }
    .tripleBannerTitle{
        font-size: 12px;
    }
    .otherImages{
        position: absolute;
        top: 0;
        left: 0;
    }
}
@media only screen and (min-width: 768px) {
    .infoImage{
        width: 36px;
        height: 36px;
    }
    .banners{
        background-color: #f2f2f2;
        border: 1px solid #dedede;
        border-radius: 4px;
    }
    .mainImage{
        border-radius: 4px;
        border: 1px solid #dedede;
    }
    .infoContainer p{
        font-family: IranSansWebFaNum !important;
        margin-bottom: 0px;
    }
    .tripleBannerImage{
        width: 60px;
    }
    .otherImages{
        position: absolute;
        top: 0;
        left: 0.6rem;
    }
}

