html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .font11md17{
    font-size: 11px !important;
  }
  .font14md17{
    font-size: 14px !important;
  }
  .font11md14{
    font-size: 11px !important  ;
  }
  .font14md22{
    font-size: 14px !important;
  }
  .font17md22{
    font-size: 17px !important;
  }
}

.font11md17{
  font-size: 17px;
}

.font14md17{
  font-size: 17px;
}

.font11md14{
  font-size: 14px;
}

.font14md22{
  font-size: 22px;
}

.font17md22{
  font-size: 22px;
}

@font-face {
  font-family: IranSansWeb;
  src: url("/newtest/assets/fonts/IRANSansWeb.woff2") format('woff2');
}
@font-face {
  font-family: IranSansWebFaNum;
  src: url("/newtest/assets/fonts/IRANSansWeb(FaNum).woff2") format('woff2');
}
*{
  font-family: IranSansWebFaNum;
  box-sizing: border-box;
}
.pointer:hover{
  cursor: pointer;
}
.rtl{
  direction: rtl;
}
.ltr{
  direction: ltr;
}
.initialShadow{
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
}
.initialShadow:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.link{
  color: black;
}
.link:hover{
  text-decoration: none;
}
p{
  font-size: 14px;
}
.breadcrumbItem:hover{
  color: #00bac6;
  cursor: pointer;
}
table{
  direction: rtl;
}
td{
  direction: rtl;
}
.MuiButtonBase-root .MuiListItem-root .MuiMenuItem-root .MuiMenuItem-gutters .MuiListItem-gutters .MuiListItem-button{
  font-family: IranSansWebFaNum;
  direction: rtl;
  font-size: 10px;
}
.Mui-selected{
  background-color: #00bac6 !important;
  color: white !important;
  font-family: IranSansWebFaNum !important;
}
.MuiPaginationItem-page:hover{
  background-color: #00bac6 !important;
  color: white;
}
.MuiPaginationItem-page{
  font-family: IranSansWebFaNum !important;
}
p{
  font-family: IranSansWebFaNum !important;
}
span{
  font-family: IranSansWebFaNum !important;
}
.artpage-description-div a{
  color: #00BAC6;
}
.artpage-description-div a:hover{
  color: #00BAC6;
}
.artpage-description-div h1, .artpage-description-div h2, .artpage-description-div h3, p{
  font-size: 14px !important;
}