html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .font11md17{
    font-size: 11px !important;
  }
  .font14md17{
    font-size: 14px !important;
  }
  .font11md14{
    font-size: 11px !important  ;
  }
  .font14md22{
    font-size: 14px !important;
  }
  .font17md22{
    font-size: 17px !important;
  }
}

.font11md17{
  font-size: 17px;
}

.font14md17{
  font-size: 17px;
}

.font11md14{
  font-size: 14px;
}

.font14md22{
  font-size: 22px;
}

.font17md22{
  font-size: 22px;
}

.font14{
  font-size: 14px;
}
.font11{
  font-size: 11px !important;
}
.MuiPaper-elevation8{
  box-shadow:  0px 1px 1px -2px rgba(0,0,0,0.2),0px 1px 1px 1px rgba(0,0,0,0.14),0px 1px 1px 1px rgba(0,0,0,0.12) !important;
}

@media only screen and (min-width: 768px) {
  .desktopInfo{
    width: 380px;
  }
}

@font-face {
  font-family: IranSansWeb;
  src: url("/newtest/assets/fonts/IRANSansWeb.woff2") format('woff2');
}
@font-face {
  font-family: IranSansWebFaNum;
  src: url("/newtest/assets/fonts/IRANSansWeb(FaNum).woff2") format('woff2');
}
*{
  font-family: IranSansWebFaNum;
  box-sizing: border-box;
}
.pointer:hover{
  cursor: pointer;
}
.rtl{
  direction: rtl;
}
.ltr{
  direction: ltr;
}
.initialShadow{
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
}
.initialShadow:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.link{
  color: black;
}
.link:hover{
  text-decoration: none;
}
p{
  font-size: 14px;
}
.breadcrumbItem:hover{
  color: #00bac6;
  cursor: pointer;
}
.breadcrumbItem{
  font-size: 11px !important;
}
.MuiBreadcrumbs-li{
  font-size: 11px !important;
}
.MuiBreadcrumbs-ol{
  font-size: 11px !important;
}
table{
  direction: rtl;
}
td{
  direction: rtl;
}
.MuiButtonBase-root .MuiListItem-root .MuiMenuItem-root .MuiMenuItem-gutters .MuiListItem-gutters .MuiListItem-button{
  font-family: IranSansWebFaNum;
  direction: rtl;
  font-size: 10px;
}
.Mui-selected{
  background-color: #00bac6 !important;
  color: white !important;
  font-family: IranSansWebFaNum !important;
  outline: none;
}
.MuiPaginationItem-page:hover{
  background-color: #00bac6 !important;
  color: white;
}
.MuiPaginationItem-page{
  font-family: IranSansWebFaNum !important;
}
p{
  font-family: IranSansWebFaNum !important;
}
span{
  font-family: IranSansWebFaNum !important;
}
.artpage-description-div a{
  color: #00BAC6;
}
.artpage-description-div a:hover{
  color: #00BAC6;
}
.artpage-description-div h1, .artpage-description-div h2, .artpage-description-div h3, p{
  font-size: 14px !important;
}
.comment-reply-button{
  background: white;
  color: #00BAC6;
  border-radius: 3px;
}
.comment-reply-button:hover{
  background: #00BAC6;
  color: white;
}
.comment-cancel-reply-button{
  background: white;
  color: #ab0311;
  border-radius: 3px;
}
.comment-cancel-reply-button:hover{
  background: #ab0311;
  color: white;
}

#erxes-messenger-container{
  right: unset !important;
  left: 12px !important;
}
#erxes-messenger-iframe{
  left: 12px !important;
  right: unset !important;
}
@media screen and (max-width: 420px) {
  #erxes-messenger-container {
      right: unset !important;
      left: 0 !important;
  }

  #erxes-messenger-iframe {
      left: 0 !important;
      right: unset !important;
  }
}

#erxes-messenger-container:after {
  content: "";
  position: absolute !important;
  opacity: 0 !important;
  width: 300px !important;
  height: 242px !important;
  left: -300px !important;
  right: unset !important;
  bottom: -242px !important;
  z-index: -1 !important;
  background: url(https://s3.amazonaws.com/erxes/radial06.png) !important;
  background-position: 100% 100% !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  transition: all 1s ease !important;
  transform: scaleX(-1) !important;
}
.erxes-messenger-shown:after {
  opacity: .9!important;
  left: -20px!important;
  right: unset!important;
  bottom: -20px!important;
}
.MuiButtonBase-root{
  outline: none !important;
} 
.MuiPaginationItem-root{
  outline: none !important;
}
.MuiPaginationItem-page{
  outline: none !important;
} 
.MuiPaginationItem-rounded{
  outline: none !important;
}
.MuiList-root{
  text-shadow: none !important;
  box-shadow: none !important;
}
.MuiMenu-list{
  text-shadow: none !important;
  box-shadow: none !important;
}
.mainCarouselImage{
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
